.navbar{
  height:80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 80px;
  background:white;
  box-shadow:0 2px 20px rgba(0,0,0,0.05);
}

.logo{
  font-size:30px;
  font-weight:700;
  color:#6c4df6;
}

.nav-links{
  display:flex;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:#222;
  font-weight:500;
}

.nav-buttons{
  display:flex;
  gap:15px;
}

.login-btn{
  padding:10px 20px;
  border:1px solid #ddd;
  border-radius:10px;
  text-decoration:none;
  color:#333;
}

.signup-btn{
  padding:10px 20px;
  background:#6c4df6;
  color:white;
  border-radius:10px;
  text-decoration:none;
}