.hero-section{
min-height:90vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 8%;
background:linear-gradient(
135deg,
#0f172a,
#1e3a8a
);
color:white;
overflow:hidden;
}

.hero-content{
max-width:600px;
}

.badge{
background:rgba(255,255,255,.15);
padding:10px 20px;
border-radius:30px;
font-size:14px;
}

.hero-content h1{
font-size:4rem;
margin-top:25px;
font-weight:800;
}

.hero-content span{
color:#facc15;
}

.hero-content p{
margin-top:20px;
font-size:1.2rem;
line-height:1.8;
}

.hero-buttons{
margin-top:30px;
}

.btn-primary{
background:#2563eb;
padding:14px 30px;
border-radius:10px;
color:white;
text-decoration:none;
margin-right:15px;
}

.btn-secondary{
background:white;
padding:14px 30px;
border-radius:10px;
color:#2563eb;
text-decoration:none;
}

.hero-image{
position:relative;
width:400px;
height:400px;
}

.floating-card{
position:absolute;
background:white;
color:#0f172a;
padding:20px;
border-radius:15px;
font-weight:600;
box-shadow:0 15px 40px rgba(0,0,0,.2);
animation:float 4s infinite ease-in-out;
}

.card1{
top:40px;
left:50px;
}

.card2{
top:180px;
right:0;
}

.card3{
bottom:40px;
left:80px;
}

@keyframes float{
50%{
transform:translateY(-15px);
}
}