*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7fb;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0f172a;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:25px;
}

.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(
135deg,
#2563eb,
#1e3a8a
);
color:white;
text-align:center;
}

.hero-content h1{
font-size:60px;
}

.hero-content span{
color:#facc15;
}

.hero-content p{
margin-top:20px;
font-size:20px;
}

.buttons{
margin-top:30px;
}

.btn-primary{
background:white;
color:#2563eb;
padding:12px 30px;
border-radius:8px;
text-decoration:none;
margin-right:15px;
}

.btn-secondary{
background:#facc15;
color:black;
padding:12px 30px;
border-radius:8px;
text-decoration:none;
}

.features{
display:flex;
justify-content:center;
gap:30px;
padding:80px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
width:300px;
text-align:center;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:20px;
}