.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2563eb,#7c3aed);
}

.login-card{
background:rgba(255,255,255,.15);
backdrop-filter:blur(15px);
padding:40px;
border-radius:20px;
width:400px;
color:white;
}

.login-card input{
width:100%;
padding:14px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

.login-card button{
width:100%;
padding:14px;
background:#facc15;
border:none;
border-radius:10px;
font-weight:bold;
}