.stat-card{
background:linear-gradient(
135deg,
#2563eb,
#4f46e5
);
color:white;
padding:35px;
border-radius:20px;
text-align:center;
box-shadow:0 15px 35px rgba(37,99,235,.3);
transition:.4s;
}

.stat-card:hover{
transform:scale(1.05);
}

.stat-card h2{
font-size:3rem;
font-weight:800;
margin-bottom:10px;
}

.stat-card p{
font-size:1.1rem;
letter-spacing:1px;
}